.no-blogs {
    width: 100%;
    text-align: center;
    padding: 0px 15px;
    line-height: 1.4;
}
.no-blogs p {
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    margin: 0px;
    color: #ff508e;
}
.no-blogs a {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    font-weight: 700;
    border-radius: 15px;
    text-decoration: none;
    color: #39b1cb;
}